body {
    margin: 0;
    scroll-behavior: smooth;
}

a,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    gap: 48px;
}

.grid-left {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.grid-right {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.left-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left-2 {
    display: none;
}

.left-3 {
    display: flex;
    gap: 8px;
}

.left-3 img {
    width: 20px;
}

h1 {
    margin: 0;
    font-family: "degular-display", "Arial", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #FF10E7;
}

#sh {
    font-size: 45px;
}

h2 {
    margin: 0;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

h3 {
    margin: 0;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

p {
    margin: 0;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #5d5d5d;
}

p b {
    color: #2b2b2b;
    font-weight: 700;
}

.menu-item {
    display: flex;
    gap: 8px;
    align-items: center;
    transition: width 0.3s ease-in-out;
}

.link-line {
    width: 50px;
    height: 1px;
    background-color: rgb(130, 130, 130);
    transition: all 0.1s ease-in-out;
}

.menu-item:hover .link-line {
    width: 100px;
    background-color: black;
}

.menu-item:has(.menu-link.active) .link-line {
    width: 100px;
    background-color: black;
}

.menu-link,
.menu-link:visited { 
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgb(154, 154, 154); 
    text-decoration: none;
    transition: color 0.1s ease-in-out, font-weight 0.3s ease-in-out;
} 

.menu-item:hover .menu-link {
    font-weight: 700;
    color: #1E1E1E;
}

.menu-link.active {
    font-weight: 700;
    color: black;
}

/* Prevent blue color after clicking */
.menu-link:focus,
.menu-link:active,
.project-link:visited,
.project-link:focus,
.project-link:active {
    color: inherit; /* Keeps it the same as the default */
    text-decoration: none;
    outline: none;
}

#websites, #webapp-projects, #experience, #education {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.project-container, .experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    transition: background-color 0.2s ease-in-out ;
}

.project-container {
    padding: 16px 8px;
}

.project-container:hover {
    background-color: #eefff0;
    border-radius: 8px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.extra-margin {
    margin-top: 16px !important; /* Ensure space is applied */
}


.project-link {
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: rgb(16, 16, 16);
    text-decoration: none;
    transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.tool-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tool-chip {
    background-color: #FFEEFD;
    color: #FF10E7;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 25px;
    height: fit-content;
}

.project-thumbnail {
    width: 200px;
    height: auto;
    padding: 2px;
    border-radius: 10px;
    background-color: #FFEEFD;
}

h3:hover {
    color: #FF10E7;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.timeline {
    grid-column-start: 1;
    grid-column-end: 2;
}

.experience-content {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resume-link {
    margin-top: 20px;
}

.resume-link:hover {
    color: #FF10E7;
}

.light-text {
    margin: 0;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 170%;
    color: #454545;
}

.dark-text {
    margin: 0;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: black;
}

.github-link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.github-link img {
    width: 20px;
    height: 20px;
}

#qr-1, #qr-2, .qr-text {
    display: none;
}

.app-link {
    display: inline;
}

.mf-cursor {
    color: #FF10E7;
    font-family: "degular-display", "Arial", sans-serif;
    font-size: 64px;
}

.wrapper {
    margin-top: 40px;
}

.link {
    font-family: "forma-djr-micro", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    position: relative;
}

.fa-arrow-right {
    margin-left: 0.9em;
}

.contact-me {
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.green {
    width: 2.1em;
    height: 2.1em;
    background-color: #63EC28;
    border-radius: 1.5em;
    position: absolute;
    z-index: -10;
    right: -0.6em;
    top: -0.4em;
}

@media (min-width: 768px) {
    .container {
        padding: 36px 64px;
    }

    .grid {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        gap: 96px;
        position: relative;
    }

    .grid-left {
        position: sticky;
        top: 48px; /* Ensures it stays visible at the top */
        height: 90vh; /* Makes sure it doesn't collapse */
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-right {
        margin-top: 36px;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .left-3 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    h1 {
        font-size: 64px;
    }

    #sh {
        font-size: 59px;
    }

    #qr-1, #qr-2, .qr-text {
        display: block;
    }

    .app-link {
        display: none;
    }

    .left-2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 36px 96px;
    }

    .project-container, .experience-container {
        flex-direction: row;
    }

    .experience-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        gap: 16px;
    }
}

@media (min-width: 1920px) {
    .container {
        padding: 36px 400px;
    }

    h1 {
        font-size: 72px;
    }

    #sh {
        font-size: 68px;
    }
}